@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroylight-webfont.woff2') format('woff2'),
         url('fonts/gilroylight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

.visually-hidden {
  position: absolute;
  width: 1px;  			
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.2px;
    font-weight: 300;
    color: #000000;
    
    background-color: #ffffff;
}

.main-header {
    width: 1040px;
    min-height: 299px;
    
    padding-top: 53px;
    padding-left: 60px;
    padding-right: 60px;
    
    background-color: #f7e296;
}

a {
    text-decoration: none;
}

.main-header input {
    font: inherit;
    color: rgba(0, 0, 0, 0.3);

    background-color: transparent;
    border: transparent;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    
    background-color: #f7e296;
}

.catalog-caption {
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}

.user-navigation li{
    display: inline;
}

.user-help {
    padding: 0;
    margin: 0;
    
    margin-left: 100px;
}

.user-help li:nth-child(2) {
    margin-left: 38px;
}

.user-help li:last-child {
    margin-left: 114px;
}

.user-help li {
    display: inline;
    
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
}

.user-navigation,
.site-navigation,
.user-help {
    list-style: none;
}

.site-navigation a,
.user-navigation a,
.user-help a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.user-help a:hover,
.catalog-caption:hover {
    opacity: 0.7;
}

.site-navigation a:focus,
.user-navigation a:focus,
.user-help a:focus,
.catalog-caption:focus {
    opacity: 0.25;
}

.about-us {
    width: 462px;
}

.contacts {
    width: 560px;
}

.about-us h2,
.contacts h2 {
    font-family: Gilroy;
    font-size: 47.5px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #000000;
}

.about-us li {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    color: #000000;
}

.button {
    font-family: Gilroy;
    font-size: 18.5px;
    font-weight: 800;
    line-height: 1.27;
    letter-spacing: 3.7px;
    color: #000000; 
    text-transform: uppercase;
    
    background-color: #f0c52e;
    border: none;
    
}

.main-footer {
    color: #ffffff;
    
    background-color: #464646;
}

.main-footer a {
    color: #ffffff;
}

.footer-user-navigation {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-help {
    padding: 0;
    margin: 0;
    
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
}

.footer-social {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.inner-header {
    width: 1040px;
    min-height: 186px;
    
    padding-top: 53px;
    padding-left: 60px;
    padding-right: 60px;
    
    background-color: #f7e296;
}

.inner-header input {
    font: inherit;
    color: rgba(0, 0, 0, 0.3);

    background-color: transparent;
    border: transparent;
}

.page-title {
    font-family: Gilroy;
    font-size: 47.5px;
    font-weight: 800;
    text-align: left;
    color: #000000;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs a {
    color: #cacaca;
}

.breadcrumbs a:hover {
    color: #666666;
}

.breadcrumbs a:focus {
    color: #e5e5e5;
}

.filters {
    width: 450px;
    padding-left: 100px;
    background-color: #efefef;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #000000;
}

.filter ul {
    list-style: none;
    line-height: 2.86;
    letter-spacing: 0.1px;
}

.filter-input:hover + label {
    color: #5f5f5f;
}

.catalog {
    padding-top: 70px;
    padding-left: 72px;
}

.catalog-list {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.catalog-item a{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #000000;
}

.catalog-item-price {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #464646;
}

.container {
    margin: 0 auto;
}

.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-section {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    padding: 0;
    margin: 0;
    
    order: 1;
}

.main {
    width: 1160px;
    margin-bottom: 93px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.footer-wrapper {
    padding-top: 65px; 
    width: 1160px;
    height: 323px;
    
    display: flex;
    flex-direction: column;
}

.footer-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 42px;
}

.footer-middle-section {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.footer-address {
    margin-right: 166px;
}

.phone-number {
    margin-left: auto;
}

.footer-bottom-section {
    display: flex;
}

.footer-bottom-section {
    display: flex;
    justify-content: center;
}

.footer-top-section li,
.footer-middle-section li,
.footer-bottom-section li {
    display: inline;
}

.page-title {
    margin: 0;
}

.breadcrumbs-wrapper {
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.catalog-columns {
    display: flex;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}
.catalog-item {
    width: 360px;
    min-height: 415px;
    
    margin-right: 40px;
    margin-bottom: 38px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0px;
}

