@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroylight-webfont.woff2') format('woff2'),
         url('fonts/gilroylight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 1160px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.2px;
    font-weight: 300;
    color: #000000;
}

/*  header */

.main-header {
    box-sizing: border-box;
    margin-top: 40px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    
    background-color: #f7e296;
}

.main-header-logo {
    position: absolute;
    top: 23px;
    
    width: 163px;
    height: 35px;
}

.main-header input {
    font: inherit;

    background-color: transparent;
    border: transparent;
}

.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 30px;
}

.user-navigation {
    display: flex;
    
    margin: 0;
    padding: 0;
}

.main-header .compare-link {
    margin-left: 210px;
}

.main-header .cart-link {
    margin-left: 30px;
}

.login-link {
    position: relative;
    padding-left: 24px;
}

.compare-link {
    position: relative;
    padding-left: 20px;
}

.cart-link {
    position: relative;
    padding-left: 20px;
}

.login-link::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 0;
    width: 12px;
    height: 12px;
    
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.compare-link::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 0;
    width: 12px;
    height: 12px;
    
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-link::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 0;
    width: 12px;
    height: 12px;
    
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.header-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding-bottom: 50px;
}

.catalog-caption {
    position: relative;
    margin: 8px 0;
    padding-right: 35px;
    
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;

}

.catalog-caption::after {
    content: "";
    
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    right: 0px;
    
    opacity: 0.5;
    
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation-wrapper {
    position: relative;
    box-sizing: border-box;
    
}

.site-navigation-wrapper:hover .site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-navigation {
    position: absolute;
    left: -60px;
    display: none;
    
    padding: 0;
    margin: 0;
    width: 1120px;
    box-sizing: border-box;
    padding-left: 95px;
    padding-right: 500px;
    padding-top: 40px;
    padding-bottom: 45px;
    background-color: #f7e296;
}

.user-help {
    display: flex;
    
    padding: 0;
    margin: 0;
}

.user-help li:nth-child(2) {
    margin-left: 38px;
}

.user-help li:last-child {
    margin-left: 114px;
}

.user-help li {
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
}

.user-navigation,
.site-navigation,
.user-help {
    list-style: none;
}

.main-header-logo:hover,
.site-navigation a:hover,
.user-navigation a:hover,
.user-help a:hover,
.catalog-caption:hover,
.login-link:hover::before,
.compare-link:hover::before,
.cart-link:hover::before {
    opacity: 0.7;
}

.main-header-logo:focus,
.site-navigation a:focus,
.user-navigation a:focus,
.user-help a:focus,
.catalog-caption:focus,
.login-link:focus::before,
.compare-link:focus::before,
.cart-link:focus::before {
    opacity: 0.25;
}

/* main */

.index-columns {
    margin-bottom: 90px;
}

.about-us {
    position: relative;
    width: 462px;
}

.about-us ul {
    margin-bottom: 85px;
}

.contacts {
    position: relative;
    width: 560px;
}

.contacts img {
    margin-bottom: 50px;
}

.about-us:before,
.contacts:before {
    content: "";
    
    position: absolute;
    width: 80px;
    height: 7px;
    top: 0;
    left: 0;
    
    background-color: #000000;
}

.about-us h2,
.contacts h2 {
    font-family: Gilroy;
    font-size: 47.5px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #000000;
}

.about-us li {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    color: #000000;
}

.button {
    position: relative;
    padding: 0;
    z-index: 1;
    
    font-family: Gilroy;
    font-size: 18.5px;
    font-weight: 800;
    line-height: 1.27;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background: none;
    
}

.button::before {
    content: "";
    
    position: absolute;
    
    width: 100%;
    height: 8px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    
    background-color: #f0c52e;
    transition: 0.2s;
}

.button:hover::before {
    height: 35px;
}

.button:focus {
    color: rgba(0, 0, 0, 0.3);
}


/* footer */

.main-footer {
    color: #ffffff;
    
    background-color: #464646;
}

.main-footer a {
    color: #ffffff;
}

.footer-social:before {
    position: absolute;
    
    content: "";
    left: 0;
    top: 12px;
    
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    
}

.footer-logo {
    width: 163px;
    height: 35px;
}

.footer-logo, 
.social-button {
    fill: #ffc600;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:focus {
    opacity: 0.3;
}

.login-link::before{
    fill: #ffc600;
}

.footer-wrapper {
    padding-top: 65px; 
    
    display: flex;
    flex-direction: column;
}

.footer-top-section li,
.footer-middle-section li,
.footer-bottom-section li {
    display: inline;
}

.footer-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 42px;
}

.footer-user-navigation {
    display: flex;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.footer-user-navigation li {
    margin-left: 45px;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-middle-section {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.footer-address {
    margin-right: 166px;
    
    font-style: normal;
}

.footer-user-help {
    padding: 0;
    margin: 0;
    
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
}

.phone-number {
    margin-left: auto;
}

.footer-bottom-section {
    position: relative;
    display: flex;
    justify-content: center;
    
    margin-bottom: 67px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    
    width: 140px;
    
    padding: 0 11px;
    margin: 0;
    
    list-style: none;
}

.social-button {
    width: 32px;
    height: 32px;
    
    opacity: 0.3;
}

.social-button:hover {
    opacity: 0.6;
}

.social-button:hover {
    opacity: 0.1;
}

.logo-html {
    position: absolute;
    
    top: 12;
    right: 0;
    width: 27px;
    height: 35px;
    
    fill: #ffc600;
}

/* - */

.page-title {
    font-family: Gilroy;
    font-size: 47.5px;
    font-weight: 800;
    text-align: left;
    color: #000000;
}

.breadcrumbs-wrapper {
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs li::after {
    content: "";
    
    position: absolute;
    top: 15px;
    right: -20px;
    width: 4px;
    height: 7px;
    
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs a  {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: #666666;
}

.breadcrumbs a:focus {
    color: #e5e5e5;
}

.breadcrumbs-current::after {
    display: none;
}

.filters {
    background-color: #efefef;
}

.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.filter legend {
    margin-bottom: 10px;
    
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #000000;
}

.filter ul {
    width: 270px;
    
    padding: 0;
    margin: 0;
        
    list-style: none;
    line-height: 2.86;
    letter-spacing: 0.1px;
}

.filter-option {
    padding-left: 37px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -37px;

    width: 26px;
    height: 23px;
    
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: 15px;
    left: -37px;
    
    width: 26px;
    height: 23px;
    
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;  
}

.filter-input:hover + label {
    color: #5f5f5f;
}

.filter-input-radio + label:before {
    content: "";

    position: absolute;
    top: 12px;
    left: -37px;
    
    width: 16px;
    height: 16px;
    
    border: 5px solid #000000;
    border-radius: 50%;
    
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 20px;
    left: -29px;
    
    width: 10px;
    height: 10px;
    
    background-color: #000000;
    border-radius: 50%; 
}

.catalog {
    padding-top: 70px;
    padding-left: 72px;
}

.catalog-list {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.catalog-item {
    position: relative;
}

.catalog-item:hover img{
    opacity: 0.4;
    filter: brightness(0.9);
}

.catalog-item:hover .catalog-item-button {
    display: flex;
}

.catalog-item a{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #000000;
}

.catalog-item-button {
    position: absolute;
    
    display: none;
    flex-direction: column;
    
    top: 180px;
    left: 80px;
}

.catalog-item-button button {
    margin-bottom: 35px;
}

.catalog-item-button span {
    opacity: 0.5;
}

.catalog-item-button span:hover {
    opacity: 1;
}

.catalog-item-button span:focus {
    opacity: 0.2;
}

.price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.price-wrapper h3 {
    margin: 0;
    padding: 0;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.page-title {
    margin: 0;
}

.catalog-columns {
    display: flex;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
}
.catalog-item {
    width: 360px;
    min-height: 415px;
    
    margin-right: 40px;
    margin-bottom: 38px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0px;
}

.modal-login {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 960px;
    padding: 80px 100px 80px 100px; 
}

.modal-login input,
.modal-login textarea {
    background-color: rgba(234,234,234, 0.5);
    border: none;
}

.modal-login input:hover,
.modal-login textarea:hover {
    background-color: rgba(234,234,234, 1);
}

.modal-login input:focus,
.modal-login textarea:focus {
    background: none;
    border: 1px solid #f7e296;
}


.login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-form p{
    margin: 0;
    padding: 0;
}

.login-form label {
    font-family: Gilroy;
    font-size: 18.5px;
    font-weight: 800;
    line-height: 1.27;
}

.login-form input {
    width: 360px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 35px;
}

.login-form textarea {
    width: 760px;
    height: 160px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.modal-close {
    position: absolute;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    top: 24px;
    right: 24px;
   
    background: none;
    border: none;
    opacity: 0.5;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:focus {
    opacity: 0.3;
}

.modal-close-button {
    width: 200px;
}

.modal-map {
    display: flex;
    justify-content: center;
    position: relative;
}

.modal-map .modal-close {
    position: absolute;
    top: 45px;
    right: 140px;
}